<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710843461469-rub56uji2nk7mhn4q8u66k98u4onpepl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710843461469-rub56uji2nk7mhn4q8u66k98u4onpepl</string>
	<key>API_KEY</key>
	<string>AIzaSyC6NFzNDUbx7LmN-UhBY33bHZfKhk4FRNc</string>
	<key>GCM_SENDER_ID</key>
	<string>710843461469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adv-mobile.firebase-example-app</string>
	<key>PROJECT_ID</key>
	<string>example-firebase-59c03</string>
	<key>STORAGE_BUCKET</key>
	<string>example-firebase-59c03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710843461469:ios:8a3edf210cce2192a6c2b4</string>
</dict>
</plist>